<footer class="page-footer deep-purple darken-4">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h3 class="white-text">Let's Talk</h3>
            <p class="white-text text-lighten-4">We have a lot to share here at <strong>OpenFlowLabs</strong></p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h4 class="white-text">
                <a class="mail-to-contact  waves-effect waves-purple" href="mailto:contact@openflowlabs.com">contact@openflowlabs.com</a>
            </h4>
            <ul>
            <li>
                <div  class="white-text">
                    <p>Wylerringstrasse 36</p>
                    <p>CH-3014 Bern, Switzerland</p>
                </div>
            </li>
            <li>
                <div class="white-text">
                    <p>Mourato Coelho, 217</p>
                    <p>São Paulo-SP, Brazil</p>
                </div>
            </li>
            </ul>
        </div>
        </div>
    </div>

    <div class="footer-copyright deep-purple darken-1">
        <div class="container">
            © 2021 Open Flow Labs
        </div>
    </div>
</footer>
