<footer class="homepage-image-container">
    <div class="main-container">
        <div id="contact-grid">
            <div id="footer-text">
                <h3 class="da-green">Let's Talk</h3>
                <h3>We have got a lot to say.</h3>
            </div>
            <div id="contact">
                <a href="mailto:contact@openflowlabs.com">contact@openflowlabs.com</a>
                <div>
                    <p>Wylerringstrasse 36</p>
                    <p>CH-3014 Bern, Switzerland</p>
                </div>
                <div>
                    <p>Mourato Coelho, 217</p>
                    <p>São Paulo-SP, Brazil</p>
                </div>
            </div>
        </div>
    </div>
    <img id="element" src="/images/ofl_element.png" alt="element">
    <img class="structural-image" src="/images/ofl_footer.jpg" alt="footer">
</footer>