<header>
    <nav class="navbar deep-purple darken-4" style="min-height: 10vh;">
        <div class="nav-wrapper">
            <a class="brand-logo" style="padding: 8px;" href="{{ .Site.Home.RelPermalink }}">
                <img src="/images/oflabs-logo-white.png" alt="openflowlabs-logo" style="height: 40px;">
            </a>
            <ul class="right hide-on-med-and-down">
                {{ range .Site.Menus.main}}
                    <li>
                        <a class="navbar-brand" href="{{ .URL }}">
                            {{ .Pre }}
                            <span style="font-size: 2rem;">{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</header>