{{ define "main" }}
   <section class="blog-section">
        <h1><span class="paragraph-slash">/</span>{{ .Title }}</h1>
        <div>
            {{ .Content }}
        </div>
   </section>

   <section class="blog-section">
        <h1><span class="paragraph-slash">/</span>{{ .Params.Articles }}</h1>
        <ul>
            <!-- Ranges through content/posts/*.md -->
            {{ range first 10 .Pages }}
                <li class="article-preview">
                    <h2><a href="{{ .RelPermalink }}" class="waves-effect waves-purple"><span class="paragraph-slash">/</span>{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a></h2>
                    <article>
                        {{ .Summary }}
                    </article>
                </li>
            {{ end }}
        </ul>
   </section>

   <div class="fixed-action-btn" style="color: white">
        {{ range .Site.Menus.main}}
            <a
                href="{{ .URL }}"
                data-position="top"
                data-tooltip="Articles"
                class="btn tooltipped btn-floating btn-large waves-effect waves-gradient-green"
            >
                <i class="large material-icons">filter_2</i>
            </a>
        {{ end }}
    </div>
{{ end }}
