{{ define "main" }}
   <article class="main-container blog-index-page">
       <!-- <header> -->
           <h1>/{{ .Title }}</h1>
       <!-- </header> -->
       <div>
           {{ .Content }}
       </div>
   </article>
   <div class="main-container blog-index-page">
       <!-- <header> -->
           <h1>/{{ .Params.Articles }}</h1>
       <!-- </header> -->
       <div>
           <!-- Ranges through content/posts/*.md -->
           {{ range first 10 .Pages }}
               <div class="article-preview">
                   <h1><a href="{{ .RelPermalink }}">/ {{ .Date.Format "2006-01-02" }} | {{ .Title }}</a></h1>
                   <div>
                       {{ .Summary }}
                   </div>
               </div>
           {{ end }}
       </div>
   </div>
{{ end }}