{{ define "main"}}
    <article class="single-article">
        <h1><span class="paragraph-slash">/</span>{{ .Title }}</h1>
        <span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        {{ .Content }}
        <h2 class="translations-title"><span class="paragraph-slash">/</span>{{ i18n "translations" }}</h2>
        <ul class="translations-list">
            {{ range .Translations }}
                <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end }}
        </ul>
    </article>
{{ end }}
