@import "chivo.css";

:root {
    --dagreen: #78AD2D;
    --da-letter-spacing: 5px;
}

#articles-header {
    display: none;
}

.translations-title {
    color: var(--dagreen);
}

.translations-list > li {
    list-style: none;
    float: left;
}

.translations-list > li > a {
    padding: 16px;
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

.article-container {
    margin-left: 40px;
    padding: 20px;
}

.article-container > div > h1 {
    color: var(--dagreen);
}

.article-preview {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.article-preview > h1 {
    padding: 0 10px 0 10px;
}

.article-preview > h1 > a {
    color: var(--dagreen);
    text-decoration-line: none;
}

.article-preview > div {
    padding: 10px 10px 0 10px;
    border-top: 1px solid #c1c1c1;
    min-height: 100px;
}

.blog-index-page {
    padding: 20px;
}

.blog-index-page > div {
    grid-area: main;
    grid-row: 2 !important;
    min-height: 100px;
}

.blog-index-page > header {
    grid-area: main;
}

.blog-index-page > header > h1 {
    color: var(--dagreen);
}

main {
    min-height: 320px;
}

html {
    font-family: Chivo, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    min-height: 10vh;
    background: transparent;
    position: absolute;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
}

header > img {
    display: block;
    width: 100%;
    min-height: 10vh;
}

#header-container > a {
    grid-area: logo;
}

#header-container {
    top: 0;
    left: 20%;
    display: grid;
    grid-template-areas: ". logo menu .";
    grid-template-columns: 20% auto 1fr 10%;
    display: flex;
    align-items: center;
}

#header-container > ul {
    grid-area: menu;
    color: white;
}

#header-container > ul > li {
    list-style: none;
}

#header-container > ul > li  > a {
    color: white;
    text-decoration-line: none;
    font-size: 28px;
    font-weight: bold;
}

.homepage-image-container {
    position: relative;
    text-align: left;
    min-height: 82vh;
    background: center no-repeat url("../images/ofl_skyline_bottom.webp");
}

.move-up-one {
    margin-top: -1px;
}

.homepage-image-container img {
    display: block;
    width: 100%;
    min-height: 90vh;
}

#element2 {
    position: absolute;
    top: 34px;
    left: 310px;
    width: auto;
}

.header-text {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
    color: white;
}

.header-text h1 {
    text-transform: uppercase;
    letter-spacing: var(--da-letter-spacing);
}

#intro-text {
    position: absolute;
    top: 20%;
    left: 23%;
    width: 60%;
}

#intro-text h1 {
    color: var(--dagreen);
    letter-spacing: var(--da-letter-spacing);
    font-size: 36px;
    text-transform: uppercase;

    text-align: justify;
    text-justify: inter-character;
}

#intro-text p {
    font-size: 26px;
}

.structural-image {
    margin: 0;
    padding: 0;
    max-width:100%;
    height:auto;
}

#how-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#how-text {
    font-size: 14px;
    line-height: 24px;
    grid-area: text;
    width: 680px;
    text-transform: uppercase;
}

#how-text > p {
    margin-left: 16px;
}

#how-title {
    grid-area: title;
    text-justify: inter-character;
    text-transform: uppercase;
    font-size: 131px;
    color: var(--dagreen);
    letter-spacing: var(--da-letter-spacing);
    transform: translate(-20%, -25%);
}

#offers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 110px;
}

.offer-div {
    padding: 60px;
}

#partners-title {
    text-transform: uppercase;
    color: var(--dagreen);
    letter-spacing: var(--da-letter-spacing);
    margin-left: 60px;
}

#partner-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
}

#partner-container > a {
    vertical-align: middle;
    margin: auto;
}

#partner-container > a > img {
    max-height: 72px;
}

.da-green {
    color: var(--dagreen);
    margin-top: 0;
}

#footer-text {
    text-transform: uppercase;
    letter-spacing: var(--da-letter-spacing);
    margin-left: 40px;
}

#contact {
    padding-left: 40px;
}

footer > div {
    position: absolute;
    width: 90%;
    top: 140px;
    margin-left: 8vw;
}

#contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact > a {
    font-weight: bold;
    color: black;
    text-decoration-line: none;
}

#contact > div {
    margin-top: 26px;
    margin-bottom: 26px;
}

#contact > div > p {
    margin: 0;
}

#element {
    position: absolute;
    height: auto;
    width: auto;
    right: 200px;
    top: -200px;
}

/* IPad Pro */
@media screen and (max-width: 1025px) and (min-height: 1365px) {
    .homepage-image-container {
        min-height: 48vh;
    }
}

/* iPad */
@media screen and (max-width: 768px) and (max-height: 1024px) {
    :root {
        --da-letter-spacing: 2px;
    }

    .main-container {
        grid-template-columns: 10% 1fr 10%;
    }

    #header-container > a > img {
        height: 30px;
    }

    #header-container > ul {
        margin: 0;
    }

    #header-container > ul > li > a {
        font-size: 22px;
    }

    .header-text {
        bottom: 45%;
        left: 50%;
        width: 40%!important;
    }

    #element2 {
        visibility: hidden;
    }

    #intro-text {
        top: 35%;
        left: 20%;
        width: 60%;
        padding-left: 20px;
    }

    #intro-text > h1 {
        font-size: 24px;
    }

    #intro-text > p {
        font-size: 18px;
    }

    .homepage-image-container {
        min-height: 65vh;
    }

    .homepage-image-container.move-up-one {
        height: 60vh;
    }

    #how-container {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
    }

    #how-text {
        padding: 20px;
        width: auto;
        min-width: 300px;
    }

    #how-text > p {
        min-width: 280px;
    }

    #how-title {
        font-size: 40px;
        transform: none;
    }

    #offers-container {
        margin-bottom: 0;
    }

    .offer-div {
        padding: 20px;
    }

    #partner-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #element {
        visibility: hidden;
    }
}

/* Laptops */
 @media screen and (max-height: 900px) and (max-width: 1440px) {
     .header-text {
         width: 20%;
         bottom: 30%;
     }

     @media screen and (max-height: 800px){
         .header-text {
             bottom: 25%;
         }
     }

     #intro-text {
         top: 20%;
         left: 20%;
         width: 60%;
     }

     #how-text {
         padding: 20px;
         width: 360px;
     }

    #how-title {
        font-size: 60px;
        transform: none;
    }
 }


/* Phone */
@media screen and (max-width: 400px) , only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2), only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3), only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 3){
    :root {
        --da-letter-spacing: 2px;
    }

    .main-container {
        grid-template-columns: 5% 1fr 5%;
    }

    header {
        min-height: 10vh;
        background: transparent;
        position: absolute;
        width: 100vw;
        z-index: 1;
    }

    header > img {
        min-height: 10vh;
    }

    #header-container > ul {
        padding: 0;
    }

    .header-text {
        left: 25%;
        width: auto;
        transform: none;
        font-size: small;
        width: 40%;
    }

    .header-text > p {
        margin: 0;
    }

    #element2 {
        visibility: hidden;
    }

    #intro-text {
        top: 30%;
        left: 22%;
        width: 66%;
        padding-left: unset;
    }

    #intro-text > h1 {
        font-size: 24px;
    }

    #intro-text > p {
        font-size: 18px;
    }

    .homepage-image-container {
        min-height: 82vh;
    }

    .homepage-image-container.move-up-one {
        height: 60vh;
    }

    #how-container {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        margin-bottom: 100px;
        max-height: 250px;
        margin-left: 40px;
    }

    #how-text {
        padding: 0;
        line-height: initial;
        min-width: initial;
        width: initial;
        margin-bottom: -30px;
    }

    #how-text > p {
        width: 280px;
    }

    #how-title {
        font-size: 40px;
        transform: none;
    }

    #offers-container {
        margin-bottom: 0;
        display: initial;
    }

    .offer-div {
        padding: 5px 0 5px 0;
        margin-left: 40px;
        margin-right: 40px;
    }

    #partner-container {
        grid-template-columns: 1fr;
    }

    #partners-title > h1 {
        margin-left: 40px;
    }

    #partners-title {
        margin-left: 16px;
    }

    #element {
        visibility: hidden;
        display: none;
    }

    footer > .structural-image {
        visibility: hidden;
        display: none;
    }

    #contact-grid {
        grid-template-columns: 1fr;
    }
}

/* Pixel 2 */
@media screen and (max-width: 412px) and (max-height: 824px) {
    .homepage-image-container {
        min-height: 82vh;
    }
}

/* IPhone X */
@media screen and (max-width: 415px) and (max-height: 737px) {
    .homepage-image-container {
        min-height: 90vh;
    }
}

/* Surface Duo */
@media screen and (max-width: 540px) and (max-height: 720px) {
    .homepage-image-container {
        min-height: 90vh;
    }

    footer > div {
        width: 84%;
    }
}

/* Nest Hub */
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .homepage-image-container {
        min-height: 90vh;
    }
}