{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">

      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        <h4>Partner with us for consulting, professional services, and training on: illumos, kubernetes, nomad and Cloud Native</h4>
        <br/>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <a class="btn btn-lg m-2 btn-primary" href="mailto:till.wegmueller@openflowlabs.com">
        CONTACT SALES
      </a>
    </div>
  </div>
</section>
