{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">

      <div class="col text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        <h4>Using the right scheduler for your Application workloads</h4>
        <p>We help you build your infrastructure with the scheduler that is right for your workload</p>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="images/kubernetes.svg" height="100px" alt="Kubernetes" />
        <p>Kubernetes for complex and customizable infrastructure</p>
      </div>
      <div class="col text-center">
        <img src="images/nomad.svg" height="100px" alt="Nomad" />
        <p>Nomad to easily extend existing infrastructure</p>
      </div>
      <div class="col text-center">
        <img src="images/no-image.svg" height="100px" alt="Aurora OpenCloud" />
        <p>Want no scheduler? Use the Container engine itself.</p>
      </div>
    </div>
  </div>
</section>
