{{ define "main" }}
    <section class="home-page-hero-section">
        <div class="parallax-container parallax-hero">
            <div class="parallax"><img src="/images/oflabs-hero-light.jpg" alt="parallax"></div>
        </div>
        <article class="hero-text">
            <h1><span class="paragraph-slash">/</span>{{.Params.Header.Title}}</h1>
            <p>{{.Params.Header.Text}}</p>
        </article>
    </section>

    <section class="homepage-image-container move-up-one">
        <article class="intro-text">
            <h1><span class="paragraph-slash">/</span>{{.Params.Intro.Title}}</h1>
            <p>{{.Params.Intro.Text}}</p>
        </article>
    </section>

    <section class="parallax-container parallax-invisible">
        <div class="parallax"><img src="/images/oflabs-hero-dark.jpg" alt="parallax"></div>
    </section>

    <section class="how-section">
        <article class="how-text">
            <div class="how-title">
                <h1><span class="paragraph-slash">/</span>How</h1>
            </div>
            <ul class="how-container">
                {{ range .Params.How }}
                    <li>
                        <p>{{ . }}</p>
                    </li>
                {{ end }}
                </ul>
            </article>
    </section>

    <section class="offers-section"> 
        <ul class="row offers-container">
            {{ range .Params.Offers }}
                <li class="col s12 m6 l6">
                    <h2><span class="paragraph-slash">/</span>{{ .title }}</h2>
                    <p>{{ .text }}</p>
                    <i class="material-icons" id="{{ .title }}" style="font-size: 140px; color: #311b92;"></i>
                </li>
            {{ end }}
        </ul>
    </section>

    <section class="parallax-container parallax-openflows">
        <div class="parallax"><img class="openflows-image" src="/images/oflabs-hero.jpg" alt="parallax"></div>
    </section>

    <section class="partners-section">
        <div class="partners-title">
            <h2><span class="paragraph-slash">/</span>Partners</h2>
        </div>
        <div class="row partners-container">
            {{ range .Params.Partners }}
                <div class="col s12 m6 l3">
                    <a href="{{ .link }}">
                        <div class="card">
                            <div class="card-image waves-effect waves-purple" style="display: flex;">
                                <img src="/images/logos/{{ .name }}.png" alt="{{ .name }}" width="180px" height="80px"/>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </section>

    <div class="fixed-action-btn">
        {{ range .Site.Menus.main}}
            <a class="btn tooltipped btn-floating btn-large waves-effect waves-purple deep-purple darken-4" data-position="top" data-tooltip="Articles" href="{{ .URL }}">
                <i class="large material-icons">filter_2</i>
            </a>
        {{ end }}
    </div>
{{ end }}
